
div.list{
    border: inset 1px #000000;
    height: 90%;
    width: 50%;
    float: left;
    overflow-x: scroll;
    /* background-color: rgba(138, 138, 177, 0.7); */
}
div.edit{
    border: inset 1px #000000;
    height: 40%;
    width: 49%;
    float: right;
    overflow-y: scroll
    /* background-color: rgba(138, 138, 177, 0.7); */
}
.table{
    display: table;
    width: 100%;
}
.table_line {
    display: table-row    ;
    width: 100%;
}
div.row{
    border: solid  1px #000000;
    display: table-cell;
    /* float: left; */
    width: 20%;
}
div.row2{
    border: solid  1px #000000;
    display: table-cell;
    /* float: left; */
    width: 80%;
}
div.lyricsrow{
    border: solid  1px #000000;
    display: table-cell;
    /* float: left; */
    height: 60%;
    width: 20%;
}
div.lyrics{
    border: solid  1px #000000;
    display: table-cell;
    /* float: right; */
    width: 80%;
    height: 60%;
    overflow-y: scroll;
}
div.title{
    border: solid 1px #000000;
    display: table-cell;
    /* float: right; */
    width: 80%;
}
div.artist{
    border: solid 1px #000000;
    display: table-cell;
    /* float: right; */
    width: 80%;
}
div.album{
    border: solid 1px #000000;
    display: table-cell;
    /* float: right; */
    width: 80%;
}
div.year{
    border: solid 1px #000000;
    display: table-cell;
    /* float: right; */
    width: 80%;
}
div.output{
    border: inset 1px #000000;
    height: 50%;
    width: 49%;
    /* color:white; */
    float: right;
    overflow-y: scroll
    /* background-color: rgba(31, 34, 194, 0.7); */
}
img {
    max-height: 500px;
}